---
- name: add group
  hosts: localhost
  gather_facts: false
  connection: local

  vars:
    ah_host: "https://controller.example.com"
    ah_username: "admin"
    ah_password: "redhat"
    validate_certs: false

  tasks:
   - name: Assign role
     ansible.hub.group_roles:
       groups:
        - mygroup
          role_list:
            - roles:
                - galaxy.collection_publisher 
                  targets:
                    collection_namespaces:
                      - my_namespace

    - name: Show result
      ansible.builtin.debug:
        var: result
