---
- name: Configure AAP 2.6 via Platform Gateway
  hosts: localhost
  connection: local
  gather_facts: false

  vars:
    aap_hostname: "https://controller.example.com"
    aap_username: "admin"
    aap_password: "redhat"

  tasks:
    - name: Ensure the group exists
      ansible.hub.group_roles:
        groups:
          - "org1::team1"
        role_list:
          - roles:
             - galaxy.collection_publisher
            targets:
              collection_namespaces:
                - my-namespace
        state: present
        ah_host: "https://controller.example.com"
        ah_username: "admin"
        ah_password: "redhat"
