---
- name: add group
  hosts: localhost
  gather_facts: false
  connection: local

  vars:
    # These can be defined here or injected via AAP Credentials
    ah_host: "https://controller.example.com"
    ah_username: "admin"
    ah_password: "redhat"
    validate_certs: false

  tasks:
    - name: Ensure the group exists
      ansible.builtin.include_role:
        name: infra.aap_configuration.hub_group
      vars:
        hub_groups:
          - name: "STT::group1"
            state: present
        # These vars are passed into the role to authenticate
        ah_host: "{{ ah_host }}"
        ah_username: "{{ ah_username }}"
        ah_password: "{{ ah_password }}"
        ah_validate_certs: "{{ validate_certs }}"
      register: result

    - name: Show result
      ansible.builtin.debug:
        var: result
